mqtt:
  prefix: 'server/sys/'
  cmd_pub: 'mosquitto.pub'

apt:
  topic: 'updates/apt'
  run_update: False
  force_no_update: True

memory:
  topic: 'stats/memory'
  combine: True
  pub_used_ratio: True
  pub_used_percentage: True

diskusage:
  topic: 'stats/diskusage'
  ignore: ['tmpfs','efivarfs', '/boot/efi'] # default: None

uptime:
  uptime:
    topic: 'stats/uptime'
  usage:
    topic: 'stats/usage'

sensors:
  topic: 'sensors/temperatures'
  combine: False